<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Placement Diary</title>

</head>

<body>

  <span id="icon" class="fa fa-bars fa-2x"></span>

    <a href="{{ url_for('home') }}">
        <h1 id="page_heading">
        Placement Diary</h1>
    </a>

  <div id="diaryEntry">
    <h2>No date selected</h2>
    <p>Please select a date from the calendar above to view or add an entry</p>
  </div>


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id='closeBtn'class="closebtn">&times;</a>
    <a href="read_only.html">Read Only Mode</a>
    <a id="share-btn">Share</a>
  </div>




  <script src="{{ url_for('static', filename='js/data.js') }}"></script>

</body>

</html>