:root {
    --mycol: grey;
    --maincol: black;
    --full: 100%;
    --hoverclr:rgb(67, 65, 65);
  }
h1{
    font-family: "Alegreya", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
h2{
    font-family: "Alegreya", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
body{
    background-color: white;
    font-family: "Alegreya", sans-serif;
    font-size: medium;
    font-weight: regular;
}

#calendar {
    width: var(--full);
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

table {
    width: var(--full);
    border-collapse: collapse;
}

.calendar-btn {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.selected {
    background-color: var(--mycol);
}

/* Each square in the calendar  */
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    cursor:pointer;  
}

/* Current day of the month square*/
.today {
    background-color: var(--maincol);
    color: white;
}

#icon{
    color: white;
    position: absolute;
    top: 5px;
    left: 15px;
}

#page_heading{
    color: white;
    background-color: black;
    padding-bottom: 20px;
    text-align: center;


}

a{
    text-decoration: none;
}

#diary_header{

    min-height: 50px;
    font-size: xx-large;
    text-align: center;
    
}
#diaryEntry {

    min-height: 50px;
    text-align: center;
    padding: 2%;
}

#buttons_div{

    text-align: center;
    min-height: 50px;
    padding: 2%;
    display: flex;


}



#submitbtn, #removebtn, #clearbtn{
    background-color: white;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    font-size: large;
    padding: 20px 30px;
    margin: auto;
    font-family: "Alegreya", "sans-serif";
    font-size: medium;
    font-weight: bold;
}
#submitbtn{
    border: solid rgb(8, 195, 8);

}
#submitbtn:active {background-color:rgb(8, 195, 8);}
#submitbtn:hover {background-color: rgb(8, 195, 8);}

#removebtn{
    border: solid red;
}

#removebtn:active{background-color: red;}
#removebtn:hover{background-color: red;}

#work_description, #experience_description, #competency{
    background-color:rgb(237, 236, 235);
    padding: 7vw 6vw;
    margin: auto;
    border: solid black;
    border-width: 1px;
    border-radius: 5px;
    text-align: justify;
    line-height: 1.5;
    font-family: "Alegreya", "sans-serif";
    font-size: medium;

}







/* The side navigation menu */
.sidenav {
    
    height: var(--full);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--maincol);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
td:hover, .calendar-btn:hover  {
    background-color: var(--hoverclr);
}

.sidenav a:hover {
    color: var(--hoverclr);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media (max-width: 500px){
    
}